
</main>
<footer>
    <% const currentYear = new Date();
    let year = currentYear.getFullYear(); %>
   <div class="footer-content">
      <p class="footer-text"><strong>© Nika Arya <%= year %></strong></p>
   </div>

</footer>

</body>
</html>