<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capstone Project</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css"/>
</head>
<body>
<main>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Post</a>
        <a href="#about">About</a>
    </div>

